<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::#title},~{})}">
<head>
    <title id="title">register</title>   
</head>
<body> 
    <div id="content" style="margin-top:85px;
    display: flex;
    justify-content: center;
    align-items: center;">
    <a  class="block max-w-sm p-6 border-t-4 border-indigo-500 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sign in</h5>
    <p style="margin-bottom: 5px;" class="font-normal text-gray-700 dark:text-gray-400">Manage contacts using Contact Manager...</p>
        <div data-th-replace="successfulalertdiv :: sucfulalertdiv"></div>
    <form data-th-action="@{'/do-register'}" data-th-object="${userForm}" method="post" novalidate>
        <div class="mb-1">
            <label  for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
            <input data-th-field="*{name}" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
            <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" class="text-red-600 px-1 py-2"></p>
          </div>
          <div class="mb-1">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input data-th-field="*{email}" type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
            <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" class="text-red-600 px-1 py-2"></p>
          </div>
          <div class="mb-1">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input data-th-field="*{password}" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
            <p data-th-if="${#fields.hasErrors('password')}" data-th-errors="*{password}" class="text-red-600 px-1 py-2"></p>
          </div>
          <div class="mb-1">
            <label for="phoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
            <input data-th-field="*{contactNumber}" type="text" id="phoneNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
            <p data-th-if="${#fields.hasErrors('contactNumber')}" data-th-errors="*{contactNumber}" class="text-red-600 px-1 py-2"></p>
          </div>
          <div class="mb-1">
            <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About yourself</label>
            <textarea data-th-field="*{about}" id="about" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write about yourself..."></textarea>
            <p data-th-if="${#fields.hasErrors('about')}" data-th-errors="*{about}" class="text-red-600 px-1 py-2"></p>
          </div>
          <div class="mb-1 flex justify-center space-x-6">
            <button type="submit" style="margin-top: 10px;" class="text-white bg-gray-800 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register</button>
            <button type="reset" style="margin-top: 10px;" class="text-white bg-gray-800 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>
            </div> 
        </form>
    </a>      
    </div>
</body>
</html>